<% provide :title, t("title.home") %>
<div class="center jumbotron">
    <h1><%= t"title.home"%></h1>
    <h2><%= t"static_pages.home.body_html"%></h2>
    <%= link_to t("static_pages.sign_up"), "#", class: "btn btn-lg btn-primary"%>
</div>
